{% extends "base.html" %}


{% block Css %}  
<style>

    body{
          background-color:#cccccc;
     }
     
</style>

{% endblock Css  %}


{% block title %}Team{% endblock title%}

{% block body%}

<section class="fdb-block team-3 py-5">
     <div class="container">
       <div class="row text-center justify-content-center">
         <div class="col-8">
           <h1>Meet Our Team</h1>
         </div>
       </div>
   
       <div class="row-70 pt-4"></div>
   
       <div class="row text-center justify-content-center mb-5">
         {% for i in range(7) %}
         <div class="col-3 m-sm-auto py-2">
           <img alt="image" class="img-fluid rounded-circle" src="{{ url_for('static', filename='images/team (1).jpg') }}">
   
           <h3><strong>Sara Doe</strong></h3>
           <p><em>Founder</em></p>
         </div>
          {% endfor %}
         
         
         
       </div>
  
     </div>
   </section>

{% endblock body %}


<!-- js -->
{% block js %}
   <script>
        document.getElementById("footer").classList.add("fixed-bottom")
   </script>
    
    {% endblock js %}